<!--<div class="big-panel" *ngIf="gridData" id="{{gridID}}" [gridData]="gridData" [gridOptions]="gridOptions" GoogleGrid>

</div>-->

<button (click)="restoreColumns()">Restore hidden columns</button>

<kendo-grid [data]="gridData">
    <template ngFor [ngForOf]="columns" let-column>
        <kendo-grid-column field="{{column}}"
                           *ngIf="hiddenColumns.indexOf(column) === -1">
            <template kendoHeaderTemplate let-dataItem>
                {{dataItem.field}}
                <button (click)="hideColumn(dataItem.field)">
                    hide
                </button>
            </template>
        </kendo-grid-column>
    </template>
</kendo-grid>

