<div class="row">
    <div class="col-xs-12 visible-lg">
        <danel-grid [gridOptions]="gridOptionslg"
                    [gridData]="holdingsDatalg"
                    [gridID]="'holdings-detailed-id-lg'">
        </danel-grid>
    </div>
    <div class="col-xs-12 visible-md">
        <danel-grid [gridOptions]="gridOptionsmd"
                    [gridData]="holdingsDatamd"
                    [gridID]="'holdings-detailed-id-md'">
        </danel-grid>
    </div>
    <div class="col-xs-12 visible-sm">
        <danel-grid [gridOptions]="gridOptionssm"
                    [gridData]="holdingsDatasm"
                    [gridID]="'holdings-detailed-id-sm'">
        </danel-grid>
    </div>
    <div class="col-xs-12 visible-xs">
        <danel-grid [gridOptions]="gridOptionsxs"
                    [gridData]="holdingsDataxs"
                    [gridID]="'holdings-detailed-id-xs'">
        </danel-grid>
    </div>
</div>


