#dashboard {
  background: url(../Content/customer_data/current_customer/home-menu.png) left center no-repeat;
  /*padding-left: 30px;*/ }

#holdings {
  background: url(../Content/customer_data/current_customer/portfolio-menu.png) left center no-repeat;
  /*padding-left: 30px;*/ }

#performance {
  background: url(../Content/customer_data/current_customer/yield-menu.png) left center no-repeat;
  /*padding-left: 30px;*/ }

#transactions {
  background: url(../Content/customer_data/current_customer/transaction-menu.png) left center no-repeat;
  /*padding-left: 30px;*/ }

#advisor-contact {
  background: url(../Content/customer_data/current_customer/contact.png) left center no-repeat; }

@media (min-width: 768px) {
  .navbar-collapse.collapse, a {
    height: 40px !important;
    min-height: 40px !important; }
  a {
    margin-top: 0 !important; } }

button {
  background-color: #242428 !important; }

span {
  color: white; }

#profile {
  background: url(../Content/customer_data/current_customer/User.png) left center no-repeat; }

#logout {
  background: url(../Content/customer_data/current_customer/Logout.png) left center no-repeat; }

#contact {
  background: url(../Content/customer_data/current_customer/contact.png) left center no-repeat; }

.navbar-collapse, .dropdown-toggle, dropdown-menu {
  background-color: #242428 !important; }

.dropdown-menu {
  background-color: #242428 !important; }
  .dropdown-menu a:hover, .dropdown-menu a:active {
    background-color: #242428 !important; }

.menu-anchor {
  background: left center no-repeat; }

a > span:first-child {
  padding: 0.5em; }

