<footer>
    <div class="row middle">
        <div class="col-sm-6 hidden-xs">
            <a href="">privacy</a>
            <a href="">termsOfUse</a>
            <a href="">danel</a>
            <a href="">bursa</a>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img class="img-responsive" src="../Content/customer_data/current_customer/danel_logo.png" alt="" />
        </div>
        <div class="col-xs-6 visible-xs text-center">
            <a href="">privacy</a>
        </div>
        <div class="col-xs-6 visible-xs text-center">
            <a href="">termsOfUse</a>
        </div>
        <div class="col-xs-6 visible-xs text-center">
            <a href="">bursa</a>
        </div>
        <div class="col-xs-6 visible-xs text-center">
            <a href="">danel</a>
        </div>
        <div class="col-xs-12 visible-xs text-center">
            <img class="img-advidor img-responsive img-thumbnail" src="../Content/customer_data/current_customer/danel_logo.png" alt="" />
        </div>
    </div>
</footer>